<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ja">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta content="text/css" http-equiv="Content-Style-Type" />
	<meta content="text/javascript" http-equiv="Content-Script-Type" />
	<title th:text="${title}">お仕事ホイホイ</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div id="wrapper">
		<div id="container" th:fragment="contents">
		</div>
	</div>
</body>
</html>